-gpgpu_n_mem 1
-gpgpu_n_sub_partition_per_mchannel 1
-gpgpu_memory_partition_indexing 0
-gpgpu_simple_dram_model 1
-gpgpu_l2_rop_latency 0
-gpgpu_dram_partition_queues 512:128:64:1
-gpgpu_cache:dl2 S:64:128:16,L:B:m:L:P,A:128:1,128:0,32
-gpgpu_ep_l2_descriptor_pool_size 256
-gpgpu_ep_l2_descriptor_per_line_cap 32
-gpgpu_l2_char_dram_issue_hold_after_issues 0
-gpgpu_l2_char_dram_issue_hold_cycles 10000
